*{
    margin: 0;
    padding: 0;

}

body{
    background: url(shoes-icon.png) rgb(255, 195, 255) ;

  
}

.page-con{
    
    width: 900px;
    height: 500px;
    margin:auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.card-con{
    
    height: 90%;
    width: 90%;
    position: relative;
    left: 5%;
    display: flex;
    justify-content: space-between;
    
    
    
}



.card1{

    background:linear-gradient(rgb(11, 181, 233),rgb(1, 120, 255),rgba(8, 255, 255, 0.932));
    width: 35%;
    height: 75%;
    position: absolute;
    left: 10%;
    top: 10%;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 5px 5px 5px black;
 
    
}

.card1 h1{

    font-size: 90px;
    font-style: italic;
    font-weight: 400;
    color: rgb(150, 252, 221);
    text-shadow: 5px 5px 5px black;
    position: relative;
    justify-content: center;
    display: flex;
    padding: 5px;
    letter-spacing: 8px;
    
}

.card1 p{

    position: relative;
    top:13%;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    color: rgb(213, 252, 255);
    text-decoration: underline;
    font-style: italic;
    padding: 1.5px;
    text-shadow: 5px 5px 5px black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 3px;
}


#btn1{

    position: relative;
    left: 10%;
    top: 35%;
    padding: 5px;
    background:aqua;
    width: 40%;
    cursor: pointer;
    border-radius: 60px;
    box-shadow: 5px 5px 5px black;
    
 
}

#btn2{

    position: relative;
    left: 15%;
    top: 35%;
    padding: 5px;
    background:aqua;
    width: 40%;
    cursor: pointer;
    border-radius: 60px;
    box-shadow: 5px 5px 5px black;
 
}

.card1 img{


    width: 100%;
    height: 100%;
    margin-top: -50%;
}

.card2{
    

    background:linear-gradient(rgb(238, 117, 228),rgb(55, 232, 255),rgba(204, 247, 247, 0.932));
    width: 35%;
    height: 75%;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 5px 5px 5px black;
    position: absolute;
    left: 50%;
    top: 10%;
 
}

.card2 h1{
    font-size: 90px;
    font-style: italic;
    font-weight: 400;
    color: rgb(170, 2, 236);
    text-shadow: 5px 5px 5px black;
    position: relative;
    justify-content: center;
    display: flex;
    padding: 5px;
    letter-spacing: 8px;
    
}

.card2 p{
    position: relative;
    top:13%;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    color: rgb(200, 255, 255);
    text-decoration: underline;
    font-style: italic;
    padding: 1.5px;
    text-shadow: 5px 5px 5px black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 3px;
}



.card2 img{
    width: 80%;
    height: 80%;
    margin-top: -50%;
    margin-left: 20px;
}





